<article class='container'>
    <form #searchForm='ngForm'><br>
        <div >
          <p class="sm">Use this form below to search by Title.</p>
          
              <span><input class="form-control" class="text" name="Title" placeholder="Title..." [(ngModel)]="TitleText" required #Title='ngModel'/>
             {{ TitleText }} </span><br/>
            
      
            <button  type="submit" class="btn btn-primary"  [disabled]='!searchForm.form.valid' (click)="SearchMoviesByTitle()">Search</button>
            {{ MessageClient }}
        </div>
      </form>
        <div [hidden] = " this.currentPageSize <= 0" >
          <p>Movie Search Page ( {{ currentPage }} )</p>
          <p>Movie Count {{ movieCount }}</p>
       
          
        </div>
        <div  [hidden] = " this.currentPageSize <= 0">
           
        <input type="submit" [disabled] = " this.currentPage == 1" id="prevBtn" class="btnSm" value="<" (click)="SearchMoviesByTitle($event)">
        <input type="submit" [disabled] = " this.currentPageSize < 9 " id="nextBtn" class="btnSm" value=">" (click)="SearchMoviesByTitle($event)">
          <select [(value)]="selectedValue" (change)="SearchMoviesByTitle($event)" [hidden] = true>
            <option *ngFor="let p of pageList" [ngValue]="c">{{p}}</option>
          </select>
    
        </div>
    
      <div *ngIf='movieCount > 0' class='display'>
          <table  class='table table-striped '>
              <tr>
                <th>Movie Title</th>
                <th>Movie Year</th>
                <th>Movie imdbID</th>
                <th>Movie Poster</th>
              </tr>
              <TR class="control-label" *ngFor="let movie of ObjMovieList"  (click)="GetMovieByID(movie,true)"  >
                <td>{{ movie.Title  | slice:0:20  }}</td>
                <td>{{ movie.Year }}</td>
                <td>{{ movie.imdbID }}</td>
                <td><a href="{{ movie.Poster}}" target="newtab">poster</a> </td>
              </TR>
          </table>   
        </div>
<!--
  <div class="container color-light" *ngFor="let m of movieInsert">
<div class="content">
    <img src="{{ m.Poster }}">
    <h3>{{ m.Title }}</h3>
    Year: {{m.Year}} Director : {{ m .Director }} Runtime : {{ m.Runtime}} <br>
      
      <div class="title"> Actors {{m.Actors}}</div>
    <p>{{ m.Plot }}</p>
    <p [hidden] = " this.Ratings <= 0">Ratings:</p>
    <p *ngFor="let r of Ratings">
    {{ r }}<br>
  </p>
</div>
</div>
-->
<!-- MODAL -->
<div id="mdlSample"  class="modal fade" role="dialog" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}" (click)="openModal(false)">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" *ngFor="let m of ObjMovieListSelected">
          <div class="modal-header">
          <h4 class="modal-title">{{ m.Title }}</h4>
          </div>
          <div class="modal-body">
              <img src="{{ m.Poster }}">
              <h3>{{ m.Title }}</h3>
              Year: {{m.Year}} Director : {{ m .Director }} Runtime : {{ m.Runtime}} <br>
                
                <div class="title"> Actors {{m.Actors}}</div>
              <p>{{ m.Plot }}</p>
              <p [hidden] = " this.Ratings <= 0">Ratings:</p>
              <p *ngFor="let r of Ratings">
              {{ r }}<br>
            </p>
          </div>
          <!--
          <div class="modal-footer" align="right">
            <button type="button" id="btnOK" class="btn btn-success" (click)="btnOKClick()"><i class="fa fa-check fa-fw"></i> Ok</button>
            <button type="button" id="btnClose" class="btn btn-danger" (click)="openModal(false)"><i class="fa fa-times fa-fw"></i> Cancel</button>
          </div>
          -->
      </div>
    </div>
    </div>
<!-- END MODAL -->
​</article>


   